# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.D&D- Dices and Dungeons.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Pauloamm\Desktop\GameJamDice\D&D- Dices and Dungeons\.idea\.idea.D&D- Dices and Dungeons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
